<nav class="bg-white py-2 border-b border-gray-400" role="navigation" aria-label="main-navigation">
  <div class="flex flex-wrap items-center justify-center lg:justify-start lg:content-center px-4 lg:px:6">

    <%= link_to root_path, class:"leading-normal no-underline text-gray-800 my-2 md:my-0" do %>
      <h1 class="text-lg pr-2 font-bold">Website</h1>
    <% end %>

    <div class="flex flex-wrap justify-start w-full lg:w-2/3">
      <div class="w-full lg:w-1/2 px-0 md:px-2">
        <div class="relative">
          <input id="search" type="text" class="input" style="padding-left:35px;" placeholder="Search Website"/>
          <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center px-3 text-gray-700">
            <%= render_svg "icons/search", styles:"h-4 w-4" %>
          </div>
        </div>
      </div>
      <div class="w-full lg:w-1/2 px-0 md:px-2 mb-2 lg:mb-0 flex items-center">
        <%= link_to "Link 1","#", class:"text-gray-700 cursor-pointer mx-6"  %>
        <%= link_to "Link 2","#", class:"text-gray-700 cursor-pointer mx-6"  %>
        <%= link_to "Link 3","#", class:"text-gray-700 cursor-pointer mx-6"  %>
      </div>
    </div>


    <div class="w-full flex flex-wrap flex-1 items-center justify-end pt-4 lg:pt-0">
      <div class="mr-3">
          <%= link_to "Login", new_user_session_path, class:"btn btn-outline btn-small mr-2" %>
          <%= link_to "Sign up", new_user_registration_path, class:"btn btn-purple btn-small mr-2" %>
      </div>

        <% if user_signed_in? %>
          <div class="dropdown rounded bg-white border border-gray-400 text-gray-600 ml-1 hover:bg-gray-200">
            <div class="dropdown-content py-2 pl-3 pr-1">
              <%= link_to "#", class:"js-dropdown-user-target no-underline flex justify-between text-gray-700 uppercase text-xs tracking-wide items-center font-semibold" do %>
                <%#= current_user.first_name if current_user.first_name %>
                <%= render_svg "icons/chevron-down" %>
              <% end %>

              <ul class="list-none hidden dropdown-list absolute left-0 rounded-b border border-gray-500 shadow">
                <h5 class="mt-2 uppercase text-xs text-gray-500 font-normal py-2 pl-3 tracking-wide">My Stuff</h5>

                <li>
                  <%= link_to "#", class:"hover:bg-purple-500 hover:text-white text-gray-700 no-underline no-underline block py-2 px-4 flex items-center text-sm" do %>
                    <%= render_svg "icons/user", styles:"icon-md fill-current text-gray-600 mr-3" %>My Profile
                  <% end %>
                </li>

                <li>
                  <%= link_to edit_user_registration_path, class:"hover:bg-purple-500 hover:text-white text-gray-700 no-underline no-underline block py-2 px-4 flex items-center text-sm" do %>
                    <%= render_svg "icons/user", styles:"icon-md fill-current text-gray-600 mr-3" %>Account Settings
                  <% end %>
                </li>

                <li>
                  <%= link_to destroy_user_session_path, class:"hover:bg-purple-500 hover:text-white text-gray-700 no-underline no-underline block py-2 px-4 flex items-center text-sm" do %>
                    <%= render_svg "icons/signout", styles:"icon-md fill-current text-gray-600 mr-3" %>Sign Out
                  <% end %>
                </li>
              </ul>
            </div>
          </div>

        <% end %>
    </div>
  </div>
</nav>
